@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 70px;
	background-color: #dddddd;
}

.join-box {
	width: 400px;
}

.signup-link {
	text-decoration: underline;
}

footer {
	height: 70px;
	background-color: #dddddd;
}








